body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;

}

.top-container {
    /* max-width: 94%; */

    background-image: url(images/donation7.jpg);
    margin: 0%;
    height: 700px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: -56px;
}

.top-container h1 {
    font-size: 66px;
    color: aliceblue;
    padding-top: 272px;
    text-align: center;
}

.top-container p {
    color: #728FCE;
    font-size: 20px;
    text-align: center;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(rgb(243, 74, 7), rgb(245, 123, 102));
    padding: 20px 53px;
    color: white;
    font-weight: 700;
    border-radius: 5px;



}

.middle-container {
    text-align: center;
}

.donate-tk {
    display: flex;

}

.box {
    box-shadow: 10px 10px 40px gray;
    width: 13%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 24px;
    margin-bottom: 53px;
    padding-left: 0px;
    padding-top: 26px;
    padding-bottom: 22px;
    border-radius: 9px;
    font-weight: 700px;
    color: #444b5c;
}

.select {
    color: red;
    border: 7px solid rgb(252, 80, 80);
    background-color: rgb(235, 152, 152);

}

.amount {
    border-style: underline;
    font-size: 25px;
    width: 50%;
    text-align: center;



}

.button-second {
    padding-top: 10px;
    margin-top: 43px;
    ;
}

.btm-h {
    font-size: 66px;
    color: #010a13;
    padding-top: 58px;
    text-align: center;
}

.btm-p {
    color: #10141d;
    font-size: 20px;
    text-align: center;
}

.donate-plan {
    display: flex;
}

.box2 {
    box-shadow: 10px 10px 40px gray;
    width: 24%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 72px;
    padding-left: 42px;
    padding-top: 185px;
    padding-bottom: 93px;
    border-radius: 3px;
    font-weight: 700px;
    color: #444b5c;
    /* height: 302px; */
}

.food {
    background-color: aliceblue;
}

.family {
    background-color: bisque;
}

.education {
    background-color: aquamarine;
}

footer {
    background-color: black;
    padding-top: 20px;
    text-align: center;
    margin-top: 48px;
    padding-bottom: 20px;
    padding-top: 50px;
    font-size: 30px;
}

.ftph {
    color: pink;
    font-size: 40px;
}

.ftpp {
    color: aqua;
    font-size: 25px;
    ;
}

.fa-solid,
.fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 140px;
}

.donate-system {
    display: flex;

}

.half-width {
    width: 35%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.cont {
    margin-top: 30px;
}

.half-width h1 {
    font-size: 40px;
    color: #010a13;

}

.half-width p {
    font-size: 20px;
    color: #010a13;
    margin-top: 10px;
    margin-bottom: 60px;


}

.updates {
    text-align: center;
}

.inpts {
    background-color: antiquewhite;
    max-width: 50%;
    margin: auto;
    padding: 80px;
    margin-top: 77px;
    margin-bottom: 79px;
}

.eml {
    height: 30px;
    width: 238px;
    margin-right: -3px;
    background-color: lightgray;
    font-size: 18px;
    padding-left: 20px;
}

.subsc {
    height: 36px;
    width: 124px;
    background-color: #ed4949;
    color: white;
    font-size: 15px;
}

.updates h1 {
    font-size: 40px;
    color: #010a13;
    font-weight: 700px;
}

.updates p {
    font-size: 20px;
    color: #010a13;
    margin-top: 10px;
    margin-bottom: 60px;
    text-align: center;
    margin: 0px 32%;
}